body {
    margin: 0;
    background-color: #f7f7f7;

}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    font-weight: normal;
}

.header {
    width: 1320px;
    height: 131px;
    margin: 0 auto;
}

.logo {
    width: 195px;
    height: 44px;
    margin-left: 63px;
    margin-top: 44px;
    float: left;
}

.content {
    width: 317px;
    height: 21px;
    float: right;
    margin-right: 42px;
    margin-top: 55px;
}

.phone {
    float: left;
    width: 16px;
    height: 19px;
    margin-left: 2px;
    margin-top: 2px;
}

.phone-number {
    width: 94px;
    height: 21px;
    float: left;
    font-family: "SourceHanSansCN";
    font-size: 14px;
    color: #8d8d8d;
    line-height: 21px;
    margin-left: 4px;
}

.line {
    width: 1px;
    height: 13px;
    background-color: #e4e4e4;
    float: left;
    margin-right: 15px;
    margin-left: 14px;
    margin-top: 6px;
}

.email {
    width: 20px;
    height: 16px;
    float: left;
    margin-top: 4px;
}

.email-address {
    width: 132px;
    height: 21px;
    float: left;
    margin-left: 10px;
    font-family: "SourceHanSansCN";
    font-size: 14px;
    color: #8d8d8d;
    line-height: 21px;
}


/*导航*/

.nav {
    width: 100%;
    height: 80px;
    background-color: #fff;
    margin-bottom: 6px;
    min-width: 1320px;
}

.nav-inner {
    width: 1208px;
    height: 80px;
    margin: 0 auto;
}

.nav-list {
    width: 855px;
    height: 50px;
    margin-top: 15px;
    float: left;
}

.nav-search {
    width: 153px;
    height: 28px;
    float: right;
    margin-top: 28px;
    margin-bottom: 24px;
}

.nav-list-page1 a {
    color: #333;
}

.nav-list-page1 a.active {
    color: #1f8fee;
}

.nav-list-page1 {
    width: 170px;
    height: 50px;
    border-right: 1px solid #ebebeb;
    float: left;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    font-family: SourceHanSansCN-Regular;
}

.nav-search-input {
    width: 107px;
    height: 26px;
    background-color: #fff;
    border-radius: 14px 0 0 14px;
    border: 1px solid #e5e5e5;
    border-right: 0px;
    float: left;
}

.nav-search-icon {
    width: 43px;
    height: 26px;
    background-color: #e4e4e4;
    border-radius: 0 14px 14px 0;
    border: 1px solid #849ee7;
    background-color: #b8c9ff;
    float: left;
    background-image: url(../imgs/icon.png);
    background-repeat: no-repeat;
    background-position: 14px 5px;
}

.nav-search-input input {
    width: 94px;
    /*padding*/
    height: 100%;
    border: none;
    border-radius: 14px 0 0 14px;
    margin-left: 13px;
    padding: 0px;
}

.nav-search-input input:focus {
    outline: none;
}


/*picture*/

.picture {
    width: 100%;
    height: 593px;
    background-image: url(../imgs/picture.png);
    background-position: center;
    min-width: 1320px;
}


/*校园系统*/

.campus {
    width: 1320px;
    height: 521px;
    margin: 0 auto;
    padding-top: 53px;
}

.campus-title {
    width: 271px;
    height: 89px;
    margin: 0 auto;
    background-image: url(../imgs/campus.png);
    background-repeat: no-repeat;
}

.campus-list {
    width: 1320px;
    height: 350px;
    margin-top: 33px;
}

.campus-list-item1 {
    width: 378px;
    height: 310px;
    background-color: #fff;
    padding: 20px 22px 20px 20px;
    float: left;
}

.campus-list-item1-title {
    width: auto;
    height: 23px;
    font-family: "SourceHanSansCN-Regular";
    font-size: 24px;
    color: #162d76;
}

.campus-list-item1-title2 {
    font-size: 18px;
    color: #162d76;
    opacity: 0.2;
    float: right;
    margin-right: 4px;
    margin-top: 5px;
}

.campus-list-item1-img {
    width: 378px;
    height: 120px;
    margin-top: 29px;
}

.campus-list-item1-img img {
    width: 378px;
    height: 120px;
}

.campus-list-item1-content {
    width: 378px;
    height: 98px;
    margin-top: 31px;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    line-height: 26px;
    color: #666;
}


/*service*/

.ser {
    width: 100%;
    height: 469px;
    padding-top: 49px;
    background-color: #fff;
    min-width: 1320px;
}

.ser-title {
    width: 267px;
    height: 25px;
    margin: 0 auto;
    font-family: SanFranciscoDisplay-Semibold;
    font-size: 36px;
    line-height: 26px;
    letter-spacing: -0.063em;
    color: #4a8fe3;
}

.ser-title2 {
    width: 96px;
    height: 22px;
    margin: 0 auto;
    font-family: SourceHanSansCN-Regular;
    font-size: 23px;
    line-height: 22px;
    letter-spacing: 0.035em;
    background-color: cyan;
    margin-top: 20px;
    color: #000000;
    opacity: 0.65;
}

.ser-title3 {
    width: 53px;
    height: 3px;
    margin: 0 auto;
    background-color: #4a8fe3;
    margin-top: 19px;
    margin-bottom: 37px;
}

.ser-disp {
    width: 1320px;
    height: 191px;
    margin: 0 auto;
    box-shadow: 0px 0px 29px 3px rgba(0, 0, 0, 0.06);
    min-width: 1320px;

}

.ser-disp-li1 {
    width: 72px;
    height: 107px;
    margin-top: 53px;
    margin-left: 172px;
    margin-right: 113px;
    float: left;
}

.ser-disp-li1-a {
    width: 72px;
    height: 61px;
    background-image: url(../imgs/icon1.png);
    background-repeat: no-repeat;
}

.ser-disp-li1-b {
    width: 28px;
    height: 14px;
    margin: 0 auto;
    font-family: SourceHanSansCN-Regular;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    margin-top: 32px;
    color: #666666;
}

.ser-disp-li2 {
    width: 298px;
    height: 191px;
    background-color: aqua;
    float: left;
}

.ser-disp-li2-a {
    width: 66px;
    height: 110px;
    float: left;
    margin: 49px 115px 32px 115px;
}

.ser-disp-li2-b {
    width: 1px;
    height: 45px;
    margin-top: 71px;
    margin-bottom: 75px;
    background-color: #e6e6e6;
    float: left;
}

.ser-disp-li2-c {
    width: 66px;
    height: 61px;
    background-image: url(../imgs/icon2.png);
    background-repeat: no-repeat;
}

.ser-disp-li2-d {
    width: 28px;
    height: 14px;
    margin: 0 auto;
    font-family: SourceHanSansCN-Regular;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    margin-top: 36px;
    color: #666666;
}

.ser-disp-li3-a {
    width: 63px;
    height: 114px;
    margin: 45px 129px 32px 114px;
    float: left;
}

.ser-disp-li3-b {
    width: 63px;
    height: 63px;
    background-image: url(../imgs/icon3.png);
    background-repeat: no-repeat;
}

.ser-disp-li3-c {
    width: 28px;
    height: 13px;
    margin: 0 auto;
    font-family: SourceHanSansCN-Regular;
    font-size: 13px;
    font-weight: normal;
    line-height: 13px;
    margin-top: 38px;
    color: #666666;
}

.ser-disp-li4-a {
    width: 56px;
    height: 107px;
    margin: 52px 173px 32px 129px;
    float: left;
}

.ser-disp-li4-b {
    width: 56px;
    height: 56px;
    background-image: url(../imgs/icon4.png);
    background-repeat: no-repeat;
}

.ser-disp-li4-c {
    width: 28px;
    height: 14px;
    margin: 0 auto;
    font-family: SourceHanSansCN-Regular;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    margin-top: 37px;
    color: #666666;
}


/*case*/

.case {
    width: 100%;
    height: 1051px;
    padding-top: 76px;
    min-width: 1320px;
}

.case-title1 {
    width: 216px;
    height: 26px;
    margin: 0 auto;
    font-family: SanFranciscoDisplay-Semibold;
    font-size: 36px;
    letter-spacing: -0.071em;
    line-height: 22px;
    color: #4a8fe3;
}

.case-title2 {
    width: 100px;
    height: 22px;
    margin: 0 auto;
    font-family: SourceHanSansCN-Regular;
    font-size: 23px;
    line-height: 22px;
    letter-spacing: 0.035em;
    margin-top: 20px;
    color: #000000;
    opacity: 0.65;
}

.case-title3 {
    width: 53px;
    height: 3px;
    margin: 0 auto;
    background-color: #4a8fe3;
    margin-top: 19px;
    margin-bottom: 37px;
}

.case-disp {
    width: 1200px;
    height: 752px;
    margin-top: 61px;
    margin: 0 auto;
}

.case-disp-a {
    width: 261px;
    height: 351px;
    background-image: url(../imgs/case1.png);
    background-repeat: no-repeat;
    float: left;
}

.case-disp-a-1 {
    width: 261px;
    height: 50px;
    margin-top: 301px;
    background-color: #000000;
    opacity: 0.5;
    float: left;
}

.case-disp-a-1-1 {
    width: 149px;
    height: 18px;
    font-family: SourceHanSansCN-Regular;
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
    color: #ffffff;
    margin-left: 56px;
    margin-top: 15px;
    letter-spacing: 0.026em;
    line-height: 20px;
}

.case-disp-b {
    width: 261px;
    height: 351px;
    background-image: url(../imgs/case2.png);
    background-repeat: no-repeat;
    float: left;
}

.case-disp-b-1 {
    width: 261px;
    height: 50px;
    margin-top: 301px;
    background-color: #000000;
    opacity: 0.5;
    float: left;
}

.case-disp-b-1-1 {
    width: 149px;
    height: 18px;
    font-family: SourceHanSansCN-Regular;
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
    color: #ffffff;
    margin-left: 56px;
    margin-top: 15px;
    letter-spacing: 0.026em;
    line-height: 20px;
}

.case-disp-c {
    width: 261px;
    height: 351px;
    background-image: url(../imgs/case3.png);
    background-repeat: no-repeat;
    float: left;
}

.case-disp-c-1 {
    width: 261px;
    height: 50px;
    margin-top: 301px;
    background-color: #000000;
    opacity: 0.5;
    float: left;
}

.case-disp-c-1-1 {
    width: 149px;
    height: 18px;
    font-family: SourceHanSansCN-Regular;
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
    color: #ffffff;
    margin-left: 56px;
    margin-top: 15px;
    letter-spacing: 0.026em;
    line-height: 20px;
}

.case-disp-d {
    width: 261px;
    height: 351px;
    background-image: url(../imgs/case4.png);
    background-repeat: no-repeat;
    float: left;
}

.case-disp-d-1 {
    width: 261px;
    height: 50px;
    margin-top: 301px;
    background-color: #000000;
    opacity: 0.5;
    float: left;
}

.case-disp-d-1-1 {
    width: 167px;
    height: 18px;
    font-family: SourceHanSansCN-Regular;
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
    color: #ffffff;
    margin: auto auto;
    margin-top: 15px;
    letter-spacing: -0.08em;
    line-height: 18px;
}

.case-disp-e {
    width: 261px;
    height: 351px;
    background-image: url(../imgs/case5.png);
    background-repeat: no-repeat;
    float: left;
}

.case-disp-e-1-1 {
    width: 149px;
    height: 18px;
    font-family: SourceHanSansCN-Regular;
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
    color: #ffffff;
    letter-spacing: 0.026em;
    line-height: 20px;
    margin: 0 auto;
}

.case-disp-f {
    width: 261px;
    height: 351px;
    background-image: url(../imgs/case6.png);
    background-repeat: no-repeat;
    float: left;
}

.case-disp-f-1-1 {
    width: 201px;
    height: 18px;
    font-family: SourceHanSansCN-Regular;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    color: #ffffff;
    letter-spacing: 0.008em;
    line-height: 20px;
    margin: 0 auto;
    margin-top: 15px;
}

.case-disp-g {
    width: 261px;
    height: 351px;
    background-image: url(../imgs/case7.png);
    background-repeat: no-repeat;
    float: left;
}

.case-disp-g-1-1 {
    width: 186px;
    height: 18px;
    font-family: SourceHanSansCN-Regular;
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
    margin: 0 auto;
    margin-top: 15px;
    color: #ffffff;
    letter-spacing: 0.026em;
    line-height: 20px;
}

.case-disp-h {
    width: 261px;
    height: 351px;
    background-image: url(../imgs/case8.png);
    background-repeat: no-repeat;
    float: left;
}

.case-disp-h-1-1 {
    width: 149px;
    height: 18px;
    font-family: SourceHanSansCN-Regular;
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
    color: #ffffff;
    letter-spacing: 0.026em;
    line-height: 20px;
    margin: 0 auto;
}


/*end*/

.end {
    width: 100%;
    height: 278px;
    background-color: #2d55a2;
    padding-top: 30px;
    min-width: 1320px;
}

.end-top {
    width: 100%;
    height: 233px;
}

.end-top-a {
    width: 1200px;
    height: 193px;
    margin: 0 auto;
}

.end-top-a-nav {
    width: 583px;
    height: 193px;
    margin-right: 369px;
    float: left;
}

.end-top-a-nav-1 {
    width: 25px;
    height: 193px;
    float: left;
    margin-right: 48px;
}

.end-list1-a {
    width: 25px;
    height: 13px;
    font-family: MicrosoftYaHei-Bold;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    line-height: 0.9;
    letter-spacing: 0.042em;
}

.end-top-a-nav-2 {
    width: 25px;
    height: 193px;
    float: left;
    margin-right: 78px;
}

.end-list2-b {
    width: 24px;
    height: 13px;
    font-family: MicrosoftYaHei;
    font-size: 12px;
    margin-top: 18px;
    opacity: 0.5;
    color: #fff;
    line-height: 0.45;
    letter-spacing: 0em;
}

.end-top-a-nav-3 {
    width: 120px;
    height: 193px;
    margin-right: 60px;
    float: left;
}

.end-list3-a {
    width: 120px;
    height: 13px;
    font-family: MicrosoftYaHei;
    color: #fff;
    opacity: 0.5;
    margin-top: 18px;
    line-height: 0.5;
    font-size: 13px;
    letter-spacing: -0.08em;
}

.end-list3-b {
    width: 84px;
    height: 13px;
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #fff;
    opacity: 0.5;
    margin-top: 18px;
    line-height: 0.5;
}

.end-list3-c {
    width: 96px;
    height: 13px;
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #fff;
    opacity: 0.5;
    margin-top: 18px;
    line-height: 0.5;
}

.end-top-a-nav-4 {
    width: 36px;
    height: 193px;
    margin-right: 73px;
    float: left;
}

.end-list4-a {
    width: 36px;
    height: 13px;
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #fff;
    opacity: 0.5;
    line-height: 0.5;
    margin-top: 18px;
}

.end-top-a-nav-5 {
    width: 36px;
    height: 193px;
    margin-right: 56px;
    float: left;
}

.end-top-a-nav-6 {
    width: 25px;
    height: 193px;
    float: left;
}

.end-top-a-pic {
    width: 191px;
    height: 113px;
    float: left;
    margin-top: 49px;
}

.end-top-pic1 {
    width: 90px;
    height: 90px;
    background-image: url(../imgs/erwei1.png);
    background-repeat: no-repeat;
    float: left;
}

.end-top-pic2 {
    width: 90px;
    height: 90px;
    background-image: url(../imgs/erwei2.png);
    background-repeat: no-repeat;
    margin-left: 11px;
    float: left;
}

.end-top-content1 {
    width: 25px;
    height: 13px;
    font-family: MicrosoftYaHei-Bold;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    line-height: 0.9;
    letter-spacing: 0.042em;
    float: left;
    margin-top: 10px;
    margin-right: 77px;
    margin-left: 26px;
}

.end-top-content2 {
    width: 50px;
    height: 13px;
    font-family: MicrosoftYaHei-Bold;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    line-height: 0.9;
    letter-spacing: 0.042em;
    float: left;
    margin-top: 10px;
}

.end-bottom {
    width: 100%;
    height: 23px;
    background-color: #224382;
    padding-top: 22px;
}

.end-bottom-target {
    width: 536px;
    height: 16px;
    margin: 0 auto;
    font-size: 14px;
    color: #fff;
    line-height: 15px;
    font-weight: normal;
    letter-spacing: 0.069em;
}